@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFBF8;
}

@font-face {
  font-family: 'Circe';
  src: url('./assets/fonts/CRC55.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DelaGothicOne';
  src: url('./assets/fonts/DelaGothicOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Custom CSS classes for fonts */
.font-circe {
  font-family: 'Circe', sans-serif;
}

.font-dela-gothic-one {
  font-family: 'DelaGothicOne', sans-serif;
}


@layer utilities {
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}